<nav>
    <a routerLink="">
        Home
    </a>
    <a routerLink="route">About</a>
    <button [routerLink]="['products']">Go to products !</button>
</nav>

<router-outlet></router-outlet>



<!-- <table>
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Assignee</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.title }}</td>
      <td>{{ task.price }}</td>
      <td>{{ task.status }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.brand }}</td>
      <td>{{ task.stock }}</td>
      <td>
        <button (click)="editTask(task)">Edit</button>
        <button (click)="deleteTask(task.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table> -->

